<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Agenda</a>

    <div class="navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ">
        <li class="nav-item">
          <a class="nav-link" href="/contato/index">Cadastrar contato</a>
        </li>

        <% if(user) { %>
        <li class="nav-item">
          <a class="nav-link" href="/login/logout">Sair</a>
        </li>

        <% } else { %>
        <li class="nav-item">
          <a class="nav-link" href="/login/index">Entrar</a>
        </li>
        <% } %>
      </ul>
    </div>
  </div>
</nav>
